/* Estilos para el Main */
.site-main {
  padding: 2rem;
  min-height: 70vh; /* Para que ocupe espacio aunque esté vacío */
  background-color: #f9f9f9;
}

.site-main h2 {
  color: #333;
}

.site-main button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.site-main button:hover {
  background-color: #2980b9;
}